.book-info {
    display: flex;
    flex-direction: row;
  }
  .left-div{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 40px;
    align-items: center;
    gap: 30px;
  }
  .b-div{
    height: 300px;
    border: solid 2px rgb(183, 178, 178);
    padding: 15px;

  }
  .b-photo{
    height: 300px;
  }
  .b-n{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .cart-b{
    width: 20%;
    background-color:#A03037;
    color: aliceblue;
    border: none;
    height: 30px;
    border-radius: 2px;
  }
  .wish-b{
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: aliceblue;
    border: none;
    border-radius: 2px;
    gap: 10px;

  }
  .right-div{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 40px;

  }
  .right-div-1{
    gap: 10px;

  }
  .book-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    gap: 10px;
    padding: 10px;
  }
  .div-rating{
    display: flex;
    gap: 10px;
    width: 40%;
    
  }
  .price{
    font-size: 25px;
    padding: 10px; 
  }
  .lorem{
   font-size: 12px;
   align-items: center;
   width: 100%;
  }
  .b-details{
    border-top: 2px solid rgb(198, 194,194); ;
    border-bottom: 2px solid rgb(198, 194,194);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
  }
  .book-d{
    font-size: medium;
    display: block;
  }
  .no-rating{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 100px;
  }
  .review-div{
    padding: 10px;
  }